/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #777;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  background-color: #fafafa;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
}

input[type="text"],
input[type="date"],
input[type="time"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 18px;
  border: 1px solid #999;
  border-radius: 10px; /* borda arredondada */
  font-size: 1rem;
}

button {
  background-color: #0057b7;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #003f8a;
}
